<html>
    <head>
        <script type="text/javascript">

            function addGuest() {
                const url = "https://entrance-monitor-server.herokuapp.com/addGuest";

                let data = {
                    guestId: parseInt(document.getElementById('guestIdInput').value)
                };

                const otherParam = {
                    headers: {
                        "content-type": "application/json; charset=UTF-8"
                    },
                    body: JSON.stringify(data),
                    method: "POST"
                };

                fetch(url, otherParam)
                .then(data => { console.log(data); return data.json();})
                .then(res => console.log(res))
                .catch(error => console.error(error))
                ;
            }

        </script>
    </head>
    <body>

        <input id="guestIdInput" type="text" />
        <button onClick="addGuest()" > Send </button>

        <a href="/db"> view db </a>

    </body>
</html>